# Draft analysis 

---

Group name: DA-Statistics-Nadine-Alena

---

## Introduction

*This section includes an introduction to the project motivation, data, and research question. Include a data dictionary*

## Setup

In [35]:
import pandas as pd
import altair as alt
import warnings
import altair as alt
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_absolute_error

warnings.simplefilter(action='ignore', category=FutureWarning)
alt.data_transformers.disable_max_rows()

DataTransformerRegistry.enable('default')

## Data

## Import data

In [2]:
URL = 'https://raw.githubusercontent.com/DA-Statistics-Nadine-Alena/project/main/references/LOVOO_Daten.csv'
df = pd.read_csv(URL)

### Data structure

In [3]:
df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile
0,F,M,25.0,daeni,1.00,4.0,8279.0,239.0,0.0,3.0,...,1.0,2015-04-25T20:43:26Z,1.429995e+09,0.0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN
1,F,M,22.0,italiana 92,0.85,5.0,663.0,13.0,0.0,0.0,...,1.0,2015-04-26T09:19:35Z,1.430040e+09,0.0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN
2,F,M,21.0,Lauraaa,0.00,4.0,1369.0,88.0,0.0,2.0,...,1.0,2015-04-06T14:24:07Z,1.428330e+09,0.0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN
3,F,none,20.0,Qqkwmdowlo,0.12,3.0,22187.0,1015.0,2.0,3.0,...,1.0,2015-04-07T11:21:01Z,1.428406e+09,0.0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN
4,F,M,21.0,schaessie {3,0.15,12.0,35262.0,1413.0,9.0,12.0,...,1.0,2015-04-06T14:25:20Z,1.428330e+09,0.0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN

In [4]:
df.tail()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile
3850,F,M,21.0,B**f,0.85,1.0,280.0,15.0,0.0,0.0,...,1.0,2015-04-07T00:08:59Z,1.428365e+09,0.0,1.0,NaN,NaN,CRYqKLbQ1+pd5CVSmGGccV+EggT4oGRmaXWhnn5jhMg9Jz...,cb958a9459216acd4dd06f213fe63685,NaN
3851,F,M,20.0,Ma**e,1.00,8.0,1014.0,43.0,3.0,0.0,...,1.0,2015-04-06T07:54:34Z,1.428307e+09,0.0,1.0,NaN,Marie ॐ 🎉Goa. ...,CRYq7MGpxHpEKfWhmwJygGmRNadHkC9XxPjktwvaiLm6Te...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3852,F,M,20.0,Ma**e,1.00,8.0,1101.0,46.0,3.0,0.0,...,1.0,2015-04-06T07:54:34Z,1.428307e+09,0.0,1.0,NaN,Marie ॐ 🎉Goa. ...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,NaN
3853,F,M,23.0,Eni**n,0.96,8.0,8702.0,142.0,0.0,0.0,...,0.0,2015-04-06T15:47:15Z,1.428335e+09,0.0,1.0,NaN,ruhig shriebe😉. bissä ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,NaN
3854,F,M,23.0,Eni**n,0.96,9.0,8904.0,143.0,0.0,0.0,...,0.0,2015-04-19T08:38:08Z,1.429433e+09,0.0,1.0,NaN,ruhig shriebe😉. bissä ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,NaN

In [5]:
df.describe()

,age,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,distance,isFlirtstar,isHighlighted,...,isNew,isOnline,isVip,lang_count,verified,shareProfileEnabled,lastOnlineTime,birthd,crypt,isSystemProfile
count,3428.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3406.000000,3426.000000,3426.000000,...,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3.425000e+03,3426.000000,20.0,2.0
mean,21.995916,0.553987,4.610917,3515.929947,147.919731,2.256859,0.117922,203.072196,0.011384,0.011384,...,0.252481,0.595155,0.019848,1.103036,0.204320,0.964098,1.428903e+09,0.004378,1.0,1.0
std,1.966598,0.328922,4.363296,6171.558587,342.786456,11.659049,1.131675,144.682194,0.106100,0.106100,...,0.434499,0.490934,0.139499,0.569961,0.403263,0.186073,8.214765e+05,0.066033,0.0,0.0
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.426592e+09,0.000000,1.0,1.0
25%,20.000000,0.310000,2.000000,362.250000,10.000000,0.000000,0.000000,81.300000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.428332e+09,0.000000,1.0,1.0
50%,22.000000,0.620000,3.000000,1151.500000,42.000000,0.000000,0.000000,172.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.428387e+09,0.000000,1.0,1.0
75%,24.000000,0.850000,6.000000,3895.750000,134.000000,0.000000,0.000000,317.750000,0.000000,0.000000,...,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.429985e+09,0.000000,1.0,1.0
max,28.000000,1.000000,30.000000,58944.000000,6155.000000,241.000000,43.000000,1632.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.430647e+09,1.000000,1.0,1.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3855 entries, 0 to 3854
Data columns (total 42 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3855 non-null   object
 1   genderLooking           3428 non-null   object
 2   age                     3428 non-null   float64
 3   name                    3428 non-null   object
 4   counts_details          3426 non-null   float64
 5   counts_pictures         3426 non-null   float64
 6   counts_profileVisits    3426 non-null   float64
 7   counts_kisses           3426 non-null   float64
 8   counts_fans             3426 non-null   float64
 9   counts_g                3426 non-null   float64
 10  flirtInterests_chat     3426 non-null   object
 11  flirtInterests_friends  3426 non-null   object
 12  flirtInterests_date     3426 non-null   object
 13  country                 3426 non-null   object
 14  city                    3158 non-null   object
 15  location                3418 non-null   object
 16  distance                3406 non-null   float64
 17  isFlirtstar             3426 non-null   float64
 18  isHighlighted           3426 non-null   float64
 19  isInfluencer            3426 non-null   float64
 20  isMobile                3426 non-null   float64
 21  isNew                   3426 non-null   float64
 22  isOnline                3426 non-null   float64
 23  isVip                   3426 non-null   float64
 24  lang_count              3426 non-null   float64
 25  lang_fr                 3426 non-null   object
 26  lang_en                 3426 non-null   object
 27  lang_de                 3426 non-null   object
 28  lang_it                 3426 non-null   object
 29  lang_es                 3426 non-null   object
 30  lang_pt                 3426 non-null   object
 31  verified                3426 non-null   float64
 32  shareProfileEnabled     3426 non-null   float64
 33  lastOnlineDate          3425 non-null   object
 34  lastOnlineTime          3425 non-null   float64
 35  birthd                  3426 non-null   float64
 36  crypt                   20 non-null     float64
 37  freetext                69 non-null     object
 38  whazzup                 1848 non-null   object
 39  pictureId               3411 non-null   object
 40  userId                  3335 non-null   object
 41  isSystemProfile         2 non-null      float64
dtypes: float64(22), object(20)
memory usage: 1.2+ MB

### Data corrections

In [7]:
df['fans'] = pd.Series(['True' if x > 0 else 'False' if x == 0 else '' for x in df['counts_fans']], index=df.index)

df.head()

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile,fans
0,F,M,25.0,daeni,1.00,4.0,8279.0,239.0,0.0,3.0,...,2015-04-25T20:43:26Z,1.429995e+09,0.0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN,False
1,F,M,22.0,italiana 92,0.85,5.0,663.0,13.0,0.0,0.0,...,2015-04-26T09:19:35Z,1.430040e+09,0.0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN,False
2,F,M,21.0,Lauraaa,0.00,4.0,1369.0,88.0,0.0,2.0,...,2015-04-06T14:24:07Z,1.428330e+09,0.0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN,False
3,F,none,20.0,Qqkwmdowlo,0.12,3.0,22187.0,1015.0,2.0,3.0,...,2015-04-07T11:21:01Z,1.428406e+09,0.0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN,True
4,F,M,21.0,schaessie {3,0.15,12.0,35262.0,1413.0,9.0,12.0,...,2015-04-06T14:25:20Z,1.428330e+09,0.0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN,True

In [15]:
gender_counts = df['gender'].value_counts()

female_count = gender_counts.get('F', 0)
male_count = gender_counts.get('M', 0)
none_count = gender_counts.get('none', 0)

other_count = gender_counts.sum() - female_count - male_count - none_count

print("Anzahl der 'F'-Werte:", female_count)
print("Anzahl der 'M'-Werte:", male_count)
print("Anzahl der 'none'-Werte:", none_count)
print("Anzahl der anderen Werte:", other_count)

Anzahl der 'F'-Werte: 3428
Anzahl der 'M'-Werte: 0
Anzahl der 'none'-Werte: 0
Anzahl der anderen Werte: 427

In [17]:
accepted_values = ['F', 'M', 'none']

filtered_df = df[df['gender'].isin(accepted_values)]

print("Aktualisiertes DataFrame ohne 'andere Werte':")
filtered_df

Aktualisiertes DataFrame ohne 'andere Werte':

,gender,genderLooking,age,name,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,counts_g,...,lastOnlineDate,lastOnlineTime,birthd,crypt,freetext,whazzup,pictureId,userId,isSystemProfile,fans
0,F,M,25.0,daeni,1.00,4.0,8279.0,239.0,0.0,3.0,...,2015-04-25T20:43:26Z,1.429995e+09,0.0,NaN,Nur tote Fisch schwimmen mit dem Strom,Nur tote fische schwimmen mit dem strom,4e3842f79b70e7ea57000064,55303fc3160ba0eb728b4575,NaN,False
1,F,M,22.0,italiana 92,0.85,5.0,663.0,13.0,0.0,0.0,...,2015-04-26T09:19:35Z,1.430040e+09,0.0,NaN,NaN,Primaveraaa<3,4e3d34bf5d2bce7b160006a3,552e7b61c66da10d1e8b4c82,NaN,False
2,F,M,21.0,Lauraaa,0.00,4.0,1369.0,88.0,0.0,2.0,...,2015-04-06T14:24:07Z,1.428330e+09,0.0,NaN,NaN,NaN,4ec96c090dc82cb25d00000a,54a584ecc56da128638b4674,NaN,False
3,F,none,20.0,Qqkwmdowlo,0.12,3.0,22187.0,1015.0,2.0,3.0,...,2015-04-07T11:21:01Z,1.428406e+09,0.0,NaN,NaN,Je pense donc je suis. Instagram quedev,4eef8b81ebf2c8f64000000c,54c92738076ea1b5338b4735,NaN,True
4,F,M,21.0,schaessie {3,0.15,12.0,35262.0,1413.0,9.0,12.0,...,2015-04-06T14:25:20Z,1.428330e+09,0.0,NaN,NaN,Instagram: JESSSIESCH,4ef3cc5aa9d0b3d07d000017,54e1a6f6c76da135748b4a3a,NaN,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3850,F,M,21.0,B**f,0.85,1.0,280.0,15.0,0.0,0.0,...,2015-04-07T00:08:59Z,1.428365e+09,0.0,1.0,NaN,NaN,CRYqKLbQ1+pd5CVSmGGccV+EggT4oGRmaXWhnn5jhMg9Jz...,cb958a9459216acd4dd06f213fe63685,NaN,False
3851,F,M,20.0,Ma**e,1.00,8.0,1014.0,43.0,3.0,0.0,...,2015-04-06T07:54:34Z,1.428307e+09,0.0,1.0,NaN,Marie ॐ 🎉Goa. ...,CRYq7MGpxHpEKfWhmwJygGmRNadHkC9XxPjktwvaiLm6Te...,d5a7edbcb59fcb092871bdcde7f142ca,NaN,True
3852,F,M,20.0,Ma**e,1.00,8.0,1101.0,46.0,3.0,0.0,...,2015-04-06T07:54:34Z,1.428307e+09,0.0,1.0,NaN,Marie ॐ 🎉Goa. ...,CRYVOrW7zgSV+NPGili4nZeREmQ0rAAXCZunTXp9KRLat1...,d5a7edbcb59fcb092871bdcde7f142ca,NaN,True
3853,F,M,23.0,Eni**n,0.96,8.0,8702.0,142.0,0.0,0.0,...,2015-04-06T15:47:15Z,1.428335e+09,0.0,1.0,NaN,ruhig shriebe😉. bissä ni,CRYsH4q+r4fCkC8+leJqDdJQtbUNQGCyqLx36aDsEzC5b9...,e532a6060fe4e5902c66086d905a9d53,NaN,False
3854,F,M,23.0,Eni**n,0.96,9.0,8904.0,143.0,0.0,0.0,...,2015-04-19T08:38:08Z,1.429433e+09,0.0,1.0,NaN,ruhig shriebe😉. bissä ni,CRYbrX0C8ToNrsDqLPf+kLsCSuDY0TOhyKSo3Phw98sbl+...,dc186f3855343c9f096c484f6d363aac,NaN,False

In [26]:
df = filtered_df.copy()

In [27]:
df['genderLooking'].value_counts()

M       3084
none     307
F         22
both      15
Name: genderLooking, dtype: int64

In [28]:
df['age'].value_counts()

22.0    620
21.0    518
23.0    513
19.0    457
24.0    456
20.0    448
25.0    313
26.0    100
28.0      1
18.0      1
27.0      1
Name: age, dtype: int64

In [29]:
df['gender'].value_counts()

F    3428
Name: gender, dtype: int64

In [31]:
df = df.drop(["name", "crypt", "counts_g", "freetext", "whazzup", "pictureId", "userId", "isSystemProfile"], axis=1)

In [32]:
df.head()

,gender,genderLooking,age,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,flirtInterests_chat,flirtInterests_friends,...,lang_de,lang_it,lang_es,lang_pt,verified,shareProfileEnabled,lastOnlineDate,lastOnlineTime,birthd,fans
0,F,M,25.0,1.00,4.0,8279.0,239.0,0.0,True,True,...,True,False,False,False,0.0,1.0,2015-04-25T20:43:26Z,1.429995e+09,0.0,False
1,F,M,22.0,0.85,5.0,663.0,13.0,0.0,True,True,...,True,True,False,False,0.0,1.0,2015-04-26T09:19:35Z,1.430040e+09,0.0,False
2,F,M,21.0,0.00,4.0,1369.0,88.0,0.0,False,False,...,False,False,False,False,0.0,1.0,2015-04-06T14:24:07Z,1.428330e+09,0.0,False
3,F,none,20.0,0.12,3.0,22187.0,1015.0,2.0,True,True,...,False,False,False,False,0.0,1.0,2015-04-07T11:21:01Z,1.428406e+09,0.0,True
4,F,M,21.0,0.15,12.0,35262.0,1413.0,9.0,True,False,...,True,False,False,False,0.0,1.0,2015-04-06T14:25:20Z,1.428330e+09,0.0,True

In [33]:
df.describe()

,age,counts_details,counts_pictures,counts_profileVisits,counts_kisses,counts_fans,distance,isFlirtstar,isHighlighted,isInfluencer,isMobile,isNew,isOnline,isVip,lang_count,verified,shareProfileEnabled,lastOnlineTime,birthd
count,3428.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3406.000000,3426.000000,3426.000000,3426.0,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3426.000000,3.425000e+03,3426.000000
mean,21.995916,0.553987,4.610917,3515.929947,147.919731,2.256859,203.072196,0.011384,0.011384,0.0,0.741097,0.252481,0.595155,0.019848,1.103036,0.204320,0.964098,1.428903e+09,0.004378
std,1.966598,0.328922,4.363296,6171.558587,342.786456,11.659049,144.682194,0.106100,0.106100,0.0,0.438096,0.434499,0.490934,0.139499,0.569961,0.403263,0.186073,8.214765e+05,0.066033
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.426592e+09,0.000000
25%,20.000000,0.310000,2.000000,362.250000,10.000000,0.000000,81.300000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.428332e+09,0.000000
50%,22.000000,0.620000,3.000000,1151.500000,42.000000,0.000000,172.000000,0.000000,0.000000,0.0,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.428387e+09,0.000000
75%,24.000000,0.850000,6.000000,3895.750000,134.000000,0.000000,317.750000,0.000000,0.000000,0.0,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.429985e+09,0.000000
max,28.000000,1.000000,30.000000,58944.000000,6155.000000,241.000000,1632.000000,1.000000,1.000000,0.0,1.000000,1.000000,1.000000,1.000000,9.000000,1.000000,1.000000,1.430647e+09,1.000000

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3428 entries, 0 to 3854
Data columns (total 35 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   gender                  3428 non-null   object
 1   genderLooking           3428 non-null   object
 2   age                     3428 non-null   float64
 3   counts_details          3426 non-null   float64
 4   counts_pictures         3426 non-null   float64
 5   counts_profileVisits    3426 non-null   float64
 6   counts_kisses           3426 non-null   float64
 7   counts_fans             3426 non-null   float64
 8   flirtInterests_chat     3426 non-null   object
 9   flirtInterests_friends  3426 non-null   object
 10  flirtInterests_date     3426 non-null   object
 11  country                 3426 non-null   object
 12  city                    3158 non-null   object
 13  location                3418 non-null   object
 14  distance                3406 non-null   float64
 15  isFlirtstar             3426 non-null   float64
 16  isHighlighted           3426 non-null   float64
 17  isInfluencer            3426 non-null   float64
 18  isMobile                3426 non-null   float64
 19  isNew                   3426 non-null   float64
 20  isOnline                3426 non-null   float64
 21  isVip                   3426 non-null   float64
 22  lang_count              3426 non-null   float64
 23  lang_fr                 3426 non-null   object
 24  lang_en                 3426 non-null   object
 25  lang_de                 3426 non-null   object
 26  lang_it                 3426 non-null   object
 27  lang_es                 3426 non-null   object
 28  lang_pt                 3426 non-null   object
 29  verified                3426 non-null   float64
 30  shareProfileEnabled     3426 non-null   float64
 31  lastOnlineDate          3425 non-null   object
 32  lastOnlineTime          3425 non-null   float64
 33  birthd                  3426 non-null   float64
 34  fans                    3428 non-null   object
dtypes: float64(19), object(16)
memory usage: 964.1+ KB

### Variable lists

### Data splitting

## Analysis

### Descriptive statistics

### Exploratory data analysis

### Relationships

## Model

### Select model

### Training and validation

### Fit model

### Evaluation on test set

### Save model


Save your model in the folder `models/`. Use a meaningful name and a timestamp.

## Conclusions